APP_NAME='Barq API'
APP_ENV=local
APP_KEY='your-secret-key'
APP_HOST=0.0.0.0
APP_PORT=8000
APP_SHARED=true
APP_DEBUG=true
APP_URL='http://localhost:8000'
APP_WEBSOCKET=false
APP_SECURE=false

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=autostrad
DB_USERNAME=postgres
DB_PASSWORD=
DB_SSLMODE=false

MAIL_MAILER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=465
MAIL_ENCRYPTION=true
MAIL_USERNAME=noreply@barq-app.jo
MAIL_PASSWORD=password
MAIL_FROM_ADDRESS=noreply@barq-app.jo
MAIL_FROM_NAME="برق"

SESSION_LIFETIME=86400
STORAGE=local
